body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.pokemon-info {
    width: 150px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    position: relative; /* 追加 */
}

.pokemon-info img {
    max-width: 100px;
    height: auto;
}

.pokeball {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.8; /* 少し透明にしてポケモンが見えるように */
}

.result, .battle-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.battle-text {
    color: #d9534f;
    animation: flash 1s ease-in-out infinite;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

button {
    margin: 10px;
}


body.selecting {
    background-image: url('poke1.jpg');
    background-size: cover;
}

body.battling {
    background-image: url('poke2.webp');
    background-size: cover;
}

body.victory {
    background-image: url('勝利　背景.png');
    background-size: cover;
}

body.defeat {
    background-image: url('負け.avif');
    background-size: cover;
}

