body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
   
    background-size: cover;
    
    background-repeat: no-repeat;
    padding: 20px;
}

body.selecting{
    background-image:url('./poke1.jpg');
}


body.battling{
    background-image:url('./poke2.webp');
    
    
}

body.victory{
    background-image: url('./kati2.png');
    
}
body.defeat{
    background-image:url('./make.jpg');

}
.container {
    max-width: 800px;
    margin: auto;
    background-image: url('./1.jpg');
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.pokemon-info {
    width: 150px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
}

.pokemon-info img {
    max-width: 100px;
    height: auto;
}

button {
    margin: 10px;
}
